# API-ключ для аутентификации запросов к API Petstore
PETSTORE_API_KEY=

# Базовый URL и путь к API Petstore
PETSTORE_BASE_URI=http://localhost:8080/api/
PETSTORE_BASE_PATH=v3/
PETSTORE_BASE_PUBLIC_URI=https://petstore.swagger.io/
PETSTORE_BASE_PUBLIC_PATH=v2/
